* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: rebeccapurple;
  --primary-color: #ffc002;
  --primary-light-color: #fef8e1;
}

button:hover {
  cursor: pointer;
}
