.affirmation-box {
  background-color: var(--primary-light-color);
  color: var(--primary-background-color);
  width: 100%;
  padding: 1rem;
}

.affirmation-btn {
  margin-top: 0.5rem;
  padding: 0.7rem;
  font-size: 1.3rem;
  color: var(--primary-background-color);
  background-color: var(--primary-light-color);
  border: 1px solid var(--primary-background-color);
}

.affirmation-btn.clicked {
  color: var(--primary-light-color);
  background-color: var(--primary-background-color);
}
