.beer-information-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--primary-text-color);
}

.beer-information {
  background-color: var(--primary-color);
  padding: 1rem 0;
}
