.beer-information-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--primary-text-color);
}

.beer-information {
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-color);
  padding: 1rem;
}

.beer-information .icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
}
