.home-title {
  margin-bottom: 2rem;
  padding: 1rem;
  color: var(--primary-text-color);
  /* background-color: var(--primary-color); */
  border: 1px dashed var(--primary-text-color);
  border-radius: 20%;
}

.beer-section {
  background-color: var(--primary-light-color);
  width: 100%;
  padding: 1rem 1rem 2rem;
}
