.home-page {
  padding: 2rem 2rem 1rem;
  height: 90vh;
  overflow-y: scroll;
}

.home-title {
  margin-bottom: 1rem;
  padding: 1rem;
  color: var(--primary-text-color);
  /* background-color: var(--primary-color); */
  border: 1px dashed var(--primary-text-color);
  border-radius: 20%;
}

.beer-section {
  background-color: var(--primary-light-color);
  width: 100%;
  padding: 1rem 1rem 2rem;
}
