.reminder-section {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  padding: 1rem 0;
}

.reminder-btn {
  margin-top: 1rem;
  padding: 0.2rem 2rem;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--primary-light-color);
}
