.signup-page {
  height: 100vh;
  padding: 1rem 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.signup-page img {
  width: 15vh;
  height: 15vh;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  color: var(--primary-text-color);
}

.field input {
  padding: 1rem;
  font-size: 1.2rem;
  border: solid 1px var(--primary-text-color);
  color: var(--primary-text-color);
  outline: none;
}

.field img {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}

.field img:hover {
  cursor: pointer;
}

.signup-form button {
  padding: 1rem;
  font-size: 1.2rem;
  border: solid 1px var(--primary-text-color);
  background-color: var(--primary-light-color);
  color: var(--primary-text-color);
}

.link {
  display: block;
  margin-top: 2rem;
  color: var(--primary-text-color);
  text-decoration: underline solid var(--primary-text-color) 1px;
}
