.add-todo-input {
  border: 1px dashed var(--primary-color);
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.add-todo-input:focus {
  outline: none;
}

.add-todo-btn {
  border: 1px dashed var(--primary-light-color);
  background-color: var(--primary-color);
  color: var(--primary-light-color);
  padding: 0.5rem;
  font-size: 1rem;
}
